aclocal.m4
autom4te.cache
config.*
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
*.pc
.deps
*.o
*.la
*.lo
.libs
tags
ChangeLog
libcmis-*.*.*.tar.gz
test-utils
test-mockup
test-atom
test-gdrive
test-onedrive
test-json
test-sharepoint
test-ws
test-factory
test-api
test-c-build
cmis-client
test-server
*.tar.gz
*.1
*.swp
run-test.sh
cppcheck-test.sh
*.gcda
*.gcno
*.info
libcmis-lcov
*.pyc
*.trs
*.log
test-driver
