aclocal.m4
autom4te.cache
config.*
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
*.pc
.deps
*.o
*.la
*.lo
.libs
tags
ChangeLog
libcmis-*.*.*.tar.gz
test-nosrv-utils
test-nosrv-mockup
test-nosrv-atom
test-nosrv-gdrive
test-nosrv-json
test-atom
test-ws
test-api
test-c-build
cmis-client
test-server
*.tar.gz
*.1
*.swp
run-test.sh
cppcheck-test.sh
