language: cpp
sudo: required

addons:
    apt:
        update: true
        packages:
            - docbook-to-man
            - libboost-date-time-dev
            - libboost-dev
            - libboost-program-options-dev
            - libcppunit-dev
            - libxml2-dev

compiler:
  - gcc
  - clang
arch:
  - amd64
  - ppc64le

script:
  - ./autogen.sh && make && make check

notifications:
  email:
    on_success: never
    on_failure: always
